.friendChatName {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    text-transform: capitalize;
    height: 43px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgrey;
}


/*.chatForm{*/
/*    background-color: #87CEFAFF;*/
/*    padding: 2.5rem;*/
/*    border-radius: 0.375rem;*/
/*}*/

/*.messageSender{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.myMessage{*/
/*    margin-top: 2px;*/
/*    padding: 2px;*/
/*    display: table;*/
/*    font-size: 0.875rem;*/
/*    border-radius: 0.375rem;*/
/*    text-align: right;*/
/*}*/

/*.overflow-y-auto {*/
/*    overflow-y: auto;*/
/*}*/

/*.my-2 {*/
/*    margin-top: 0.5rem;*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.p-2 {*/
/*    padding: 0.5rem;*/
/*}*/

/*.table {*/
/*    display: table;*/
/*}*/

/*.text-sm {*/
/*    font-size: 0.875rem;*/
/*}*/

/*.rounded-md {*/
/*    border-radius: 0.375rem;*/
/*}*/

/*.bg-sky-500 {*/
/*    background-color: #87CEEB;*/
/*}*/

/*.ml-auto {*/
/*    margin-left: auto;*/
/*}*/

/*.text-right {*/
/*    text-align: right;*/
/*}*/

/*.w-auto {*/
/*    width: auto;*/
/*}*/

/*.h-auto {*/
/*    height: auto;*/
/*}*/

/*.mr-4 {*/
/*    margin-right: 1rem;*/
/*}*/

/*.bg-sky-300 {*/
/*    background-color: #ADD8E6;*/
/*}*/

/*.flex {*/
/*    display: flex;*/
/*}*/

/*.justify-center {*/
/*    justify-content: center;*/
/*}*/

/*.items-center {*/
/*    align-items: center;*/
/*}*/

/*.border-2 {*/
/*    border-width: 2px;*/
/*}*/

/*.border-zinc-950 {*/
/*    border-color: #3B3B3B;*/
/*}*/

/*input[type="text"] {*/
/*    width: 1000px;*/
/*    height: 38px;*/
/*}*/

/*.btn {*/
/*    display: inline-block;*/
/*    font-weight: 400;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    user-select: none;*/
/*    border: 1px solid transparent;*/
/*    padding: 0.375rem 0.75rem;*/
/*    font-size: 1rem;*/
/*    line-height: 1.5;*/
/*    border-radius: 0.25rem;*/
/*    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
/*}*/

/*.btn-outline-primary {*/
/*    color: #007bff;*/
/*    border-color: #007bff;*/
/*}*/

/*button {*/
/*    -webkit-appearance: button;*/
/*}*/

/*button::-moz-focus-inner {*/
/*    padding: 0;*/
/*    border-style: none;*/
/*}*/
