.friendChatName {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    text-transform: capitalize;
    height: 43px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgrey;
}