.container{
    margin-left: 0px;
    margin-top: 10px;
    width: 400px;
}
.to-do-list{
    position: relative;
    padding: 30px 8px 30px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    font-family: Helvetica, sans-serif;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style the header */
.header {
    background-color: lightskyblue;
    padding: 30px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

/* Style the input */
input {
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    width: 65%;
    font-size: 16px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.taskAdder {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.deleteButton {
    margin-bottom: 2px;
}
